body {
  /* background-image: url('https://i.imgur.com/joFUBBD.png');
  background-repeat: no-repeat;
  position: fixed; */
  background-color: #3c5aa6;
}

header {
  text-align: center;
}



/* //////////////////Oak Dib and Tool Tip/////////////////////////// */

.oakDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.toolTip {
  text-align: center;
  position: relative;
  font-size: 20px;
}

.toolTipText {
  text-align: left;
  visibility: hidden;
  background-color: ghostwhite;
  color: #3c5aa6;
  margin-top: 2%;
  padding: 2% 5%;
  z-index: 1;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

#talkText {
  font-size: 35px;
  background-color: ghostwhite;
  border: 3px solid black;
}

#talkText:hover {
  opacity: .5;
}



/* //////////////////About Div/////////////////////////// */

.aboutPokemon {
  text-align: center;
  margin: 10%;
}

#openAboutModal {
  font-size: 35px;
  padding: 15px 10px;
  margin: 5% 0;
  width: 30%;
  background-color: ghostwhite;
  border: 3px solid black;
}

#aboutPokemonText {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: ghostwhite;
  color: #3c5aa6;
  margin-top: 2%;
  padding: 2% 5%;
  z-index: 1;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  display: none;
}

.aboutImg > img {
  widith: 640px;
  height: 360px;
}

#closeAboutModal {
  text-decoration: none;
  color: #c7a008;
  font-weight: bold;
}



/* //////////////////Journey Div/////////////////////////// */

.aboutJourney {
  text-align: center;
  margin: 10%;
}

#openJourneyModal {
  font-size: 35px;
  padding: 15px 10px;
  margin: 5% 0;
  width: 30%;
  background-color: ghostwhite;
  border: 3px solid black;
}

#aboutJourneyText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: ghostwhite;
  color: #3c5aa6;
  margin-top: 2%;
  padding: 2% 5%;
  z-index: 1;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  /* display: none; */
}

.journeyImg > img {
  width: 640px;
  height: 360px;
}

#closeJourneyModal {
  text-decoration: none;
  color: #c7a008;
  font-weight: bold;
}



/* //////////////////Journey Div/////////////////////////// */


/* //////////////////Bulbasaur Modal/////////////////////////// */

#bulbaModal {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 475px;
  height: 525px;
  z-index: 1;
  display: none;
  overflow: auto;
}

#bulbaModalText {
  background-color: ghostwhite;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  padding: 20px 0;
  width: 400px;
  height: 425px;
	border: 3px solid black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#bulbaInfo {
  width: 100%;
}

#closeBulbaModal {
  text-decoration: none;
  color: #c7a008;
  font-weight: bold;
}

#chooseBulba {
  color: #2a75bb;
  background-color: #ffcb05;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 55%;
  margin-bottom: 10px;
  width: 35%;
}



/* //////////////////Squirtle Modal/////////////////////////// */

#charModal {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 525px;
  height: 575px;
  z-index: 1;
  display: none;
}

#charModalText {
	background-color: ghostwhite;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  padding: 20px 0;
  width: 400px;
  height: 475px;
	border: 3px solid black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#charInfo {
  width: 100%;
}

#closeCharModal {
  text-decoration: none;
  color: #c7a008;
  font-weight: bold;
}

#chooseChar {
  color: #2a75bb;
  background-color: #ffcb05;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 55%;
  margin-bottom: 10px;
  width: 35%;
}



/* //////////////////Squirtle Modal/////////////////////////// */

#squirtModal {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 475px;
  height: 525px;
  z-index: 1;
  display: none;
}

#squirtModalText {
	background-color: ghostwhite;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  padding: 20px 0;
  width: 400px;
  height: 425px;
	border: 3px solid black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#squirtInfo {
  width: 100%;
}

#closeSquirtModal {
  text-decoration: none;
  color: #c7a008;
  font-weight: bold;
}

#chooseSquirt {
  color: #2a75bb;
  background-color: #ffcb05;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 55%;
  margin-bottom: 10px;
  width: 35%;
}


/* //////////////////Misc for Pokeballs/////////////////////////// */

td, tr {
  padding: 0 8px;
}


.closeBtn {
  background-color: #3c5aa6;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-left: 5%;
  margin-bottom: 10px;
  width: 20%;
}

.pokeImg {
  width: 250px;
  height: 250px;
}

.pokeballs {
  display:inline-block;
  padding: 20px;
  margin-left: 20px;
}
.pokeballs > img {
  width: 250px;
  height: 250px;
}
