body {
  background-image: url('https://i.imgur.com/wlmDVnr.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  background-image:
}



/* //////////////////Oak Div and Tool Tip/////////////////////////// */

.oakDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.toolTip {
  text-align: center;
  position: relative;
  font-size: 20px;
}

.toolTipText {
  text-align: left;
  visibility: hidden;
  background-color: ghostwhite;
  color: #3c5aa6;
  margin-top: 2%;
  padding: 2% 5%;
  z-index: 1;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

#talkText {
  font-size: 35px;
  background-color: ghostwhite;
  border: 3px solid black;
  width: 350px;
  margin-left: 16%;
}

#talkText:hover {
  opacity: .5;
}



/* //////////////////Info Modals/////////////////////////// */

.aboutPokemon, .aboutJourney, .aboutTools {
  text-align: center;
  margin: 10%;
}

#openAboutModal, #openJourneyModal, #openToolsModal {
  font-size: 35px;
  padding: 15px 10px;
  margin: 5% 0;
  width: 35%;
  background-color: ghostwhite;
  border: 3px solid black;
}

#openAboutModal:hover, #openJourneyModal:hover, #openToolsModal:hover {
  color: #3c5aa6;
  background-color: #ffcb05;
  font-weight: bold;
}

#closeAboutModal, #closeJourneyModal, #closeToolsModal {
  text-decoration: none;
  color: #c7a008;
  font-weight: bold;
}



/* //////////////////About Text/////////////////////////// */

#aboutPokemonText {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: ghostwhite;
  color: #3c5aa6;
  margin-top: 2%;
  padding: 2% 5%;
  z-index: 1;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;
}

.aboutImg > img {
  widith: 640px;
  height: 360px;
  border: 3px solid black;
}



/* //////////////////Journey Text/////////////////////////// */

#aboutJourneyText {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: ghostwhite;
  color: #3c5aa6;
  margin-top: 2%;
  padding: 2% 5%;
  z-index: 1;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;
}

.journeyImg > img {
  width: 640px;
  height: 360px;
  border: 3px solid black;
}



/* //////////////////Tools Text/////////////////////////// */

#aboutToolsText {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: ghostwhite;
  text-align: left;
  color: #3c5aa6;
  margin-top: 2%;
  padding: 2% 5%;
  z-index: 1;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;
}

.toolsImg > img {
  width: 640px;
  height: 360px;
  border: 3px solid black;
}

li {
  text-align: left;
  font-size: 20px;
}



/* //////////////////Input Text/////////////////////////// */

#pokemonForm {
  text-align: center;
}


#inputBox {
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid black;
  background-color: ghostwhite;
}

#submitBtn {
  font-size: 20px;
  padding: 10px 15px;
  border: 3px solid black;
  background-color: ghostwhite;
}

#submitBtn:hover {
  color: #3c5aa6;
  background-color: #ffcb05;
  font-weight: bold;
}

#pokeModalText {
  background-color: red;
  color: ghostwhite;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding: 20px 0;
  width: 425px;
  height: 475px;
	border: 3px solid black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#pokeInfo {
  width: 100%;
  margin-top: 5%;
}

#pokeImg {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  background-color: ghostwhite;
}

#pokedex {
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}


/* //////////////////Starter Modals/////////////////////////// */

#bulbaModal, #charModal, #squirtModal  {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 600px;
  z-index: 1;
  display: none;
  overflow: auto;
}

#bulbaModalText, #charModalText, #squirtModalText {
  background-color: ghostwhite;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding: 20px 0;
  width: 425px;
  height: 475px;
	border: 3px solid black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#bulbaInfo, #charInfo, #squirtInfo {
  width: 100%;
}

#closeBulbaModal, #closeCharModal, #closeSquirtModal {
  text-decoration: none;
  color: #c7a008;
  font-weight: bold;
}

#chooseBulba, #chooseChar, #chooseSquirt  {
  font-size: 20px;
  color: #2a75bb;
  background-color: #ffcb05;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 45%;
  margin-bottom: 10px;
  width: 45%;
}



/* //////////////////Misc for Pokeballs/////////////////////////// */

td, tr {
  padding: 0 8px;
}

.closeBtn {
  font-size: 20px;
  background-color: #3c5aa6;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pokeImg {
  width: 250px;
  height: 250px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.pokeballs > img {
  width: 200px;
}

/* //////////////////Media Queries/////////////////////////// */

@media screen and (min-width:1024px) {
  body {
    background: linear-gradient(#2a75bb, #ffcb05)
  }
}

/* //////////////////Animations/////////////////////////// */
